
.login {
    height: 100%;
    /* // padding: 80px auto; */
    background-color:#2d3a4b;
}
.login h2 {
    color: #ffffff;
    padding: 150px 0 26px 0;
}
.demo-ruleForm {
    margin: auto;
}
.el-input input {
    background-color: #283443;
    border: 1px solid rgba(0,0,0,.1)
}
.el-form-item__content {
    margin: 0 auto !important;
    width: 450px;
}
.el-button+.el-button, .el-checkbox.is-bordered+.el-checkbox.is-bordered {
    margin-left: 30px;
}