/* password.vue */
.el-popover__reference-wrapper button  {
    margin-left: 20px;
}
.el-form-item__content {
    width: 292px;
}
.demo-ruleForm {
    margin-left: 145px;
    margin-top: 34px;
}
.submit {
    text-align: center;
}